
  insert (req, res) {
    const data = req.body;

    Auth.hashPass(data.{{secret}}, ({{secret}})=>{
      data.{{secret}} = {{secret}};
      const model = new this.Model();
      model.insert(data, (error, {{entity}})  => {
        if (error) {
          res.status(403).send({
            message: "Can't create the {{entity}}",
            error
          });
        } else {
          res.status(200).send({{entity}});
        }
      });
    });
  };

  update (req, res) {
    // remove {{secret}} and {{identification}} for body here
    const data = req.body;
    delete data.{{secret}};
    delete data.{{identification}};

    const model = new this.Model();
    model.update(req.params.id, data, (error, result) => {
      if (error) {
        res.status(400).send({ message: "Error can't update {{entity}}" });
      }
      else {
        res.status(200).send(result);
      }
    });
  };