const {{Entity}} = require('../../models/{{Entity}}');
const Controller = require('../Controller');

class {{Entity}}Controller extends Controller {
  constructor() {
    super();
    this.model = {{Entity}};
  }

{{{actions}}}
}

module.exports = {{Entity}}Controller;
