const {{Entity}} = require('../../models/{{Entity}}');
const Controller = require('../Controller');
{{{authImport}}}

class {{Entity}}Controller extends Controller {
  constructor () {
    super();
    this.Model = {{Entity}};
  }
{{{actions}}}
{{{authActions}}}
}

module.exports = {{Entity}}Controller;
