const bookshelf = require('../../database/config');

const {{Entity}} = bookshelf.Model.extend({
  tableName: '{{tableName}}',
  hasTimeStamps: true,{{{hidden}}}
{{{relations}}}
});

module.exports = bookshelf.model('{{Entity}}', {{Entity}});
