var express = require('express');
var router = express.Router();

// token authorization
const { verifyToken } = require('../../../middlewares/authorization');

// Import Multer Factory
const MulterFactory = require('../../MulterFactory');

// Declare Controllers
// Auth Controller
{{{authController}}}

// Other Controllers
const TestController = require('../../../controllers/v1/Test');
{{{controllers}}}

// Create Multers for file uploading
{{{multers}}}

// Instanciate Controllers
const test = new TestController();
{{{controllerInstances}}}

router.get('/', function(req, res) {
  console.log('{{appName}} API v1');
  res
    .status(200)
    .send({ status: 'Success', api: 'Version 1' })
});

// endpoint for authentication
{{{authRoutes}}}

// endpoint for testing API Flow with Versions, should return api v1
router.get('/tests', test.check.bind(test));

{{{endpoints}}}
module.exports = router;
