// endpoint for {{entityUri}} (CRUD)
router.get('/{{entityUri}}', verifyToken, {{entity}}.all.bind({{entity}}));
router.get('/{{entityUri}}/:id', verifyToken, {{entity}}.find.bind({{entity}}));
router.post(
  '/{{entityUri}}',
  verifyToken,
  {{entity}}Multer.fields([{{{fields}}}]),
  {{entity}}.insert.bind({{entity}})
);
router.put(
  '/{{entityUri}}/:id',
  verifyToken,
  {{entity}}Multer.fields([{{{fields}}}]),
  {{entity}}.update.bind({{entity}})
);
router.delete('/{{entityUri}}/:id', verifyToken, {{entity}}.delete.bind({{entity}}));

