{{{declaration}}}exports.seed = function (knex, Promise) {
  // Insert seed entries
  const models = [];

  for (let i = 0; i < {{seedAmount}}; i++) {
    models.push({
{{{fieldValues}}}
    });
  }

  return knex('{{tableName}}').insert(models);
};
